@model Fadak.Models.Blogs

@{
    ViewBag.Title = "افزودن " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>افزودن @Html.DisplayNameFor(model => model)</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.fk_BlogCategoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_BlogCategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.fk_BlogCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)

                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Detail)

                @Html.ValidationMessageFor(model => model.Detail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Summery, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summery)
                @Html.ValidationMessageFor(model => model.Summery)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.Kendo().Upload().Name("fileUpload").Multiple(false)
                @Html.ValidationMessageFor(model => model.ImageUrl)
                <dfn>جهت نمایش بهتر سایت تصاویر این بخش باید در سایز 580*320 پیکسل باشد.</dfn>
            </div>
        </div>
      

        <div class="form-group">
            @Html.LabelFor(model => model.Title_En, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Title_En)

                @Html.ValidationMessageFor(model => model.Title_En)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detail_En, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Detail_En)

                @Html.ValidationMessageFor(model => model.Detail_En)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Summery_En, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summery_En)
                @Html.ValidationMessageFor(model => model.Summery_En)
            </div>
        </div>
        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    
</div>
}

