@model IEnumerable<Fadak.Models.ProductImages>

@{
ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
          
        columns.Bound(model => model.ImageUrl).Template(@<Text><img src="@item.ImageUrl" height="100px"/></Text>);
        columns.Bound(model => model.SubmitDate);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);
                  })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create","ProductImages").Text("افزودن");
            toolbar.Custom().Action("index", "Products").Text("بازگشت");

        }
        )
        //.Groupable()
        //.Pageable()
        //.Sortable()
        //.Scrollable()
        //.Filterable()              
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
    )
